@using Blazorise
@using Microsoft.AspNetCore.Components.Authorization
@using ZDC.Client.Shared.Components

<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(Shared.Layout)">
            <NotAuthorized>
                <ZdcContainer PageMargins="true">
                    <Row Class="justify-content-center">
                        <Column ColumnSize="ColumnSize.Is4">
                            <Card Class="shadow-lg">
                                <CardHeader>
                                    <Heading Size="HeadingSize.Is4" Class="font-w700 text-center">
                                        <Icon Name="IconName.Times" /> Not Authorized
                                    </Heading>
                                </CardHeader>
                                <CardBody>
                                    <Heading Size="HeadingSize.Is4" Class="text-center">
                                        You are not authorized to view this page
                                    </Heading>
                                    <Divider />
                                    <div class="text-center">
                                        <Link Class="btn btn-primary" href="">Go Home</Link>
                                    </div>
                                </CardBody>
                            </Card>
                        </Column>
                    </Row>
                </ZdcContainer>
            </NotAuthorized>
        </AuthorizeRouteView>
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(Shared.Layout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
    </NotFound>
</Router>